*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

form{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

form div{
    background-color: #a4a4f6;
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: normal;
    font-size: 20px;
}

form input{
    display:block;
    margin:auto;
    border-radius: 10px;
}

form label{
    display:block;
    margin:auto;
    width: 200px;
    text-align: center;
}
